<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
    <add key="eautopay_login" value="demo4"/>
    <add key="eautopay_password" value="dqn6fx"/>
    <add key="eautopay_secret" value="1234"/>
      
    <!-- The following settings are not required -->
    <add key ="eautopay_upsell_interval" value="17"/>
    <add key ="eautopay_upsell_landing" value="http://ceoffer.ru/demo/upsell.php"/>
    <add key ="eautopay_upsell_success" value="http://ceoffer.ru/demo/1.html"/>
  </appSettings>
</configuration>